# =====================
# Dependências
# =====================
node_modules
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# =====================
# Variáveis de ambiente
# =====================
.env
.env*

# =====================
# Banco de dados
# =====================
*.db

# =====================
# Next.js (frontend)
# =====================
.next/
/out/
/build
*.tsbuildinfo
next-env.d.ts

# =====================
# Prisma (backend)
# =====================
/generated/prisma

# =====================
# Testes
# =====================
/coverage

# =====================
# Logs
# =====================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# =====================
# Postman
# =====================
*.postman_collection.json

# =====================
# Misc
# =====================
.DS_Store
*.pem
.vercel
